@import "./utils.scss";

.temp__div {
  height: 250px;
  width: 250px;
  background-color: #33333363;
  @extend %flex-align;

  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
  font-size: 30px;
  color: white;

  p {
    font-size: 72px;
    padding-left: 16px;
  }
}
