.weather__div {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  > p {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    color: white;
  }
}

.weather-form {
  display: flex;
  margin-top: 44px;
  justify-content: center;

  input {
    border: 2px solid #333333;
    height: 30px;
    padding: 20px;
    margin-right: 20px;
    transition: 0.4s;
    background-color: white;
    border-radius: 4px;
  }

  button {
    padding: 10px 40px;
    background-color: green;
    border-radius: 3px;
    color: white;
  }
}
